<% @tickets.each do |ticket| %>
<div>
    <h3><%= ticket.title %></h3>
    <h4><%= ticket.description %></h4>
    <h5>Submitter: <%= ticket.user.full_name %> -- Owner: <%= ticket.admin.full_name %></h5>
</div>
<% end %>