<div class="card border-success">
    <h2 class="card-header"><%= @ticket.title %></h2>
    <h3 class="card-body"><%= @ticket.description %></h3>
    <h3 class="card-header">Ticket Status: 
        <% if @ticket.is_open %>
            Open
        <% else %>
            Closed
        <% end %>
    </h3>
    <h4 class="card-body">Submitted By: <%= @ticket.user.full_name %></h4>
    <h4 class="card-body">Owned By: <% if @ticket.superuser %>
            <%= @ticket.superuser.full_name %>
        <% else %>
            Unassigned
        <% end %>
    </h3>
</div>

