<h2 class="card-header">Hello, <%= @user.first_name %></h2>

<h3>Open ticket count: <%= @user.tickets.where(is_open: true).count %></h3>
<h3>Total number of closed tickets: <%= @user.tickets.where(is_open: false).count %></h3>
<%= link_to "Click here", user_tickets_path(current_user) %> to see all of your tickets